.btn-load-more {
  display: block !important;
  background-color: #e3e7e9;
  transition: all 0.3 ease;
}

.btn-load-more:hover {
  background-color: #198754;
  color: #fff;
}

.card {
  overflow: hidden;
}

.card-img {
  transition: 0.3s all ease !important;
  /* display: none; */
}
.card-img:hover {
  transform: scale(1.1) !important;
  overflow: hidden !important;
}
